<div id="footerContainer">

  <div id="logo">
    <img src="../../../assets/imgs//tagora-white-logo-06.svg">
    <p>Centro del comercio y la cultura del TATTOO </p>
  </div>

  <div id="registrar">
    <p>¿Eres profesional del tattoo o deseas tatuarte?</p>
    <button>Registrate!!</button>
  </div>

  <div id="politicas">
    <div id="about">
      <img src="../../../assets/imgs/chevron-down-white.svg">
      <p>About us</p>
    </div>
    <div id="policies">
      <img src="../../../assets/imgs/chevron-down-white.svg">
      <p>Policies</p>
    </div>
    <div id="Community">
      <img src="../../../assets/imgs/chevron-down-white.svg">
      <p>Community</p>
    </div>
  </div>

  <div id="empresa">
    <div id="copy">
      <img src="../../../assets/imgs/copyright.svg">
      <p>TAGORA</p>
    </div>
    <p>Barcelona 2021</p>
  </div>

</div>


<div id="footerContainerPc">

  <div id="propuestaFooter">
    <div id="logo">
      <img src="../../../assets/imgs//tagora-white-logo-06.svg">
      <p>Centro del comercio y la cultura del TATTOO </p>
    </div>

    <div id="registrar">
      <p>¿Eres profesional del tattoo o deseas tatuarte?</p>
      <button>Registrate!!</button>
    </div>
  </div>

  <div id="politicas">
    <div id="about">
      <img src="../../../assets/imgs/chevron-down-white.svg">
      <p>About us</p>
    </div>
    <div id="policies">
      <img src="../../../assets/imgs/chevron-down-white.svg">
      <p>Policies</p>
    </div>
    <div id="Community">
      <img src="../../../assets/imgs/chevron-down-white.svg">
      <p>Community</p>
    </div>
  </div>

  <div id="empresa">
    <div id="copy">
      <img src="../../../assets/imgs/copyright.svg">
      <p>TAGORA</p>
    </div>
    <p>Barcelona 2021</p>
  </div>

</div>


