<div id="containerHeader">
  <div id="header">
    <img id="logo" src="../../../assets/imgs/tagora-black-logo-05.svg" />
    <div id="buscador">
      <img src="../../../assets/imgs/search.svg" />
      <input type="text" placeholder="Buscar tattoo o material" />
    </div>
  </div>
</div>

<div id="containerNav">
  <div id="nav">
    <img id="home" src="../../../assets/imgs/1x/home-white.png" />
    <img id="machine" src="../../../assets/imgs/machine-tattoo-white-12.svg" />

    <button id="perfil"></button>
    <img id="shop" src="../../../assets/imgs/1x/shop-white.png" />
    <img id="community" src="../../../assets/imgs/1x/community-white.png" />
  </div>
</div>

<div id="containerPc">
  <div id="nav">
    <button id="perfil"></button>
    <img id="home" src="../../../assets/imgs/1x/home-black.png" />
    <img id="machine" src="../../../assets/imgs/machine-black-09.svg" />
    <img id="shop" src="../../../assets/imgs/1x/shop-black.png" />
    <img id="community" src="../../../assets/imgs/1x/comunity-black.png" />
  </div>

  <div id="header">
    <img id="logo" src="../../../assets/imgs/tagora_logosSketch.png" />
  </div>

  <div id="buscador">
    <img src="../../../assets/imgs/search.svg" />
    <input type="text" placeholder="Buscar tattoo o material" />
  </div>
</div>
