<div id="container">

  <div id="header">
      <img id="logo" src="../../../assets/imgs/tagora_logosSketch.png">
      <div id="buscador">
        <img src="../../../assets/imgs/search.svg">
        <input type="text" placeholder="Buscar tattoo o material">
      </div>
  </div>

  <div id="nav">
    <img id="home"src="../../../assets/imgs/1x/home-white.png">
    <img id="machine" src="../../../assets/imgs/machine-tattoo-white-10.svg">
    <img id="perfil" src="../../../assets/imgs/plus-circle-user-02.svg">
    <img id="shop" src="../../../assets/imgs/1x/shop-white.png">
    <img id="community" src="../../../assets/imgs/1x/community-white.png">
  </div>

</div>


<div id="containerPc">


  <div id="nav">
    <img id="perfil" src="../../../assets/imgs/plus-circle-user.svg">
    <img id="home"src="../../../assets/imgs/1x/home-black.png">
    <img id="machine" src="../../../assets/imgs/machine-black-09.svg">
    <img id="shop" src="../../../assets/imgs/1x/shop-black.png">
    <img id="community" src="../../../assets/imgs/1x/comunity-black.png">
  </div>

  <div id="header">
    <img id="logo" src="../../../assets/imgs/tagora_logosSketch.png">
  </div>

  <div id="buscador">
    <img src="../../../assets/imgs/search.svg">
    <input type="text" placeholder="Buscar tattoo o material">
  </div>


</div>
