<main class="tagsContainer">
  <div class="tags">
    <button type="button" class="tag OldSchool">Old School</button>
    <button type="button" class="tag NewSchool">New School</button>
    <button type="button" class="tag Japanese">Japanese</button>
    <button type="button"class="tag Pattern">Pattern</button>
    <button type="button" class="tag Comic">Comic</button>
    <button type="button" class="tag Black">Black</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
  </div>

  <hr id="line1">
  <hr id="line2">
</main>


<div id=container>

  <div id="propuesta">
    <img id="prop-Valor" src="../../../assets/imgs/prop-valor-homepage-02.svg">
    <div id="pattern-button">
      <img id="line-pattern" src="../../../assets/imgs/graphics-elements-homepage-03.svg">
      <button type="button" id="button-registro">Registrate!!</button>

    </div>

  </div>

  <div id="tattoo">
    <div class="titular-categoria">
      <img src="../../../assets/imgs/arrow-titular-black-04.svg">
      <h3>Tattos +<span> Valorados</span></h3>
      <img id="second-arrow"src="../../../assets/imgs/arrow-titular-black-04.svg">
    </div>

    <div class="img-tatto-product">
        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>Rodrigo Kalaka</p>
          <button class="button-tattoo" type="button"></button>
        </div>
    </div>



  </div>

  <div id="market">
    <hr id="line3">
    <div class="titular-categoria">
      <img src="../../../assets/imgs/arrow-titular-black-04.svg">
      <h3>Material en<span> Oferta</span></h3>
      <img id="second-arrow"src="../../../assets/imgs/arrow-titular-black-04.svg">
    </div>

    <div class="img-tatto-product">
        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>

        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <p>400$</p>
          <button class="button-tattoo" type="button"></button>
        </div>
    </div>



  </div>

  <div id="eventos">
    <hr id="line3">
    <div id="prop-eventos-boton">
      <img id="prop-valor-eventos" src="../../../assets/imgs/prop-valor-eventos-07.svg">
      <button type="button" id="button-evento"></button>
    </div>
    <div class="img-tatto-product">
        <div class="img-name">
          <img src="../../../assets/imgs/allef-vinicius-hxNiXP498UI-unsplash.jpg">
          <div>
            <h4>Expo Zaragoza 2021</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolorem magnam accusamus voluptatibus repellat ullam, voluptas voluptate, aut quam temporibus unde sequi quo, impedit nostrum porro nobis consectetur eligendi iure.</p>
            <button class="button-eventos" type="button"></button>
          </div>
        </div>
    </div>

  </div>

  <div id="products">

  </div>

  <div id="events">

  </div>

</div>

<link rel="script" href="scroll.ts"/>

