<main class="tagsContainer">
  <div class="tags">
    <button type="button" class="tag OldSchool">Old School</button>
    <button type="button" class="tag NewSchool">New School</button>
    <button type="button" class="tag Japanese">Japanese</button>
    <button type="button"class="tag Pattern">Pattern</button>
    <button type="button" class="tag Comic">Comic</button>
    <button type="button" class="tag Black">Black</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
    <button type="button" class="tag Geometric">Gemotric</button>
  </div>

  <hr id="line1">
  <hr id="line2">
</main>


<div id=container>

  <div id="propuesta">
    <img id="prop-Valor" src="../../../assets/imgs/prop-valor-homepage-02.svg">
    <div id="pattern-button">
      <img id="line-pattern" src="../../../assets/imgs/graphics-elements-homepage-03.svg">
      <button type="button" id="button-registro">Registrate!!</button>

    </div>

  </div>

  <div id="tattoo">

  </div>

  <div id="products">

  </div>

  <div id="events">

  </div>

</div>

<link rel="script" href="scroll.ts"/>

