<app-header></app-header>

<div id="contenidoLogin">
  <div id="tabla">
    <form id="formRegistro" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="alias">Alias*</label>
      <input
        type="text"
        name="alias"
        formControlName="alias"
        placeholder="Escribe tu nick"
      />

      <label for="email">Email*</label>
      <input
        type="text"
        name="email"
        formControlName="email"
        placeholder="Escribe tu email"
      />

      <label for="Pasword">Pasword*</label>
      <input
        type="text"
        formControlName="password"
        name="pasword"
        placeholder="Escribe tu pasword"
      />

      <div class="selector">
        <label for="tipo"
          >Tauador
          <input type="checkbox" name="" id="" formControlName="isTatuador"
        /></label>
      </div>

      <button type="submit" id="registro" [disabled]="!registerForm.valid">
        Log In
      </button>
    </form>
    <!-- Check  -->
    <!--
    <div id="politica">
      <button></button>
      <p class="checkmark">
        He leído y acepto los términos y condiciones de uso*
      </p>
    </div> -->
  </div>

  <div id="registroExterno">
    <button>Log in with</button>
    <button>Log in with</button>
  </div>
</div>
